*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --color-1:#FF6108;
    --color-2:#111129;
}

.nav{
    background-color: var(--color-2);
    color: white;
}
.apply_now{
    background-color: var(--color-1) !important;
    border-radius: 0px !important;
}
.fixed-nav{
    position: fixed;
    top: 0px;
}
nav li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 1.1em;
    font-weight: 500;
}
nav li:first-child{
    color: var(--color-1);
}
#search{
    background: none;
    padding: 10px;
    width: 250px;
    border: 1px solid gray;
    background-image: url('./Images/search-12-16.png');
    background-repeat: no-repeat;
    background-position: right;
    padding: 10px;
    border-radius: 25px;
    outline: none;
    color: gray;
    
}
.header{
    background-image: url('./Images/bg.jpg');
    width: 100%;
    background-size: cover;
    height: 40vw;
    background-color: rgba(255,97,8,0.5);
    background-blend-mode: soft-light;
    box-shadow: 5px 5px 5px gray;
}
.heading{
    display: flex;
    height: 300px;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.heading h2{
    color: white;
    font-weight: bold;
    font-size: 2.5em;
}
.contact_us{
    background-color: var(--color-1) !important;
}
.light{
    background-color: var(--color-1);
}
.dark{
    background-color: var(--color-2);
}
.aside{
    background-image: url('./Images/pang-yuhao-_kd5cxwZOK4-unsplash.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}
.para{
 text-justify: newspaper;
text-align:justify ;
}
.icon{
    background-color: var(--color-1) !important;
    padding: 10px;
    border-radius: 50%;
    

}
.box{
    background-image: url('./Images/mimi-thian-vdXMSiX-n6M-unsplash.jpg');
    height: 50vw;
    background-size: cover;
    background-color: rgba(255,97,8,0.5);
    background-blend-mode: soft-light;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
}

.card button{
    width: 80%;
    display: block;
    margin: 5px auto 10px auto;
    height: 35px;
    background-color: var(--color-1);
    color: white;
    letter-spacing: 1px;
    border-radius: 20px;
    padding: 5px;
    font-size: 18px;
}
.teacher-container{
    background-color: whitesmoke;
    /* padding: 20px 0px 20px 0; */
}
.teacher{
    color: var(--color-1);
    text-align: center;
    letter-spacing: 2px;
}
#teacher-1{
    transition: transform .2s;
    

}
#teacher-1:hover{
    transform: scale(105%);
}

#teacher-2{
    transition: transform .2s;

}
#teacher-2:hover{
    transform: scale(105%);

}
#teacher-3{
    transition: transform.2s;
}
#teacher-3:hover{
    transform: scale(105%);

}
#teacher-4{
    transition: transform.2s;

}
#teacher-4:hover{
    transform: scale(105%);

}
.footer{
    background-color: var(--color-2);
}
footer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-email{
    width: 250px;
    height: 50px;
    background-color: #393939;
    outline: none;
    border: none;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 500;

}

.subscribe{
    width: 250px;
    height: 50px;
    margin-top: 10px;
    background-color: var(--color-1);
    border: none;
    color: white;
    font-weight: 500;
}

.overlay{
    position: relative;
    bottom: 40px;
    z-index: 5;
    width: 50%;
    margin: 0px auto 0px auto;
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width:768px){
    .headerCardsContainer{
        display: flex;
        
      
    }
    .headerCard{
        width: 50% !important;
        display: inline-block !important;
       border: 2px solid white;
    }
}